<h3 class="page-heading">Kusto Connection</h3>
<div class="gf-form-group">
        <div class="gf-form max-width-30">
                <span class="gf-form-label width-7">Host</span>
                <input type="text" class="gf-form-input" ng-model='ctrl.current.url' placeholder="yourdatabaseurl" bs-typeahead="{{['yourdatabaseurl']}}" required></input>
        </div>

        <div class="gf-form max-width-30">
                <span class="gf-form-label width-7">Database</span>
                <input type="text" class="gf-form-input" ng-model='ctrl.current.jsonData.database' placeholder="database name" required></input>
        </div>
        <div class="gf-form max-width-40">    //User Id and Password are only shown as examples. They are not used anywhere
                <span class="gf-form-label width-7">User ID</span>
                <input type="text" class="gf-form-input" ng-model='ctrl.current.jsonData.clientId' placeholder="App ID of Client that has access to Kusto" required></input>
        </div>
        <div class="gf-form-inline" ng-if="!ctrl.current.secureJsonFields.clientSecret">
            <div class="gf-form">
            <span class="gf-form-label width-9">Client Secret</span>
            <input class="gf-form-input width-30" type="text" ng-model='ctrl.current.secureJsonData.clientSecret' placeholder=""></input>
            </div>
        </div>
        <div class="gf-form" ng-if="ctrl.current.secureJsonFields.clientSecret">
           <span class="gf-form-label width-9">Client Secret</span>
           <input type="text" class="gf-form-input max-width-12" disabled="disabled" value="configured">
           <a class="btn btn-secondary gf-form-btn" href="#" ng-click="ctrl.current.secureJsonFields.clientSecret = false">reset</a>
        </div>
</div>
