<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form-inline">
                <div class="gf-form-input">
                        <code-editor class="gf-form-input" content="ctrl.target.rawQuery" datasource="ctrl.datasource" on-change="ctrl.panelCtrl.refresh()">
                        </code-editor>
                </div>
  </div>



  <div class="gf-form-inline">

    <div class="gf-form">

                <label class="gf-form-label query-keyword">Format as</label>
                <div class="gf-form max-width-8">
                        <select class="gf-form-input" ng-model="ctrl.target.format" ng-options="f.value as f.text for f in ctrl.formats" ng-change="ctrl.refresh()"></select>
                </div>
        </div>

  </div>
  <div class="gf-form" id="result">
      <label class="gf-form-label query-keyword">
        Generated Query
      </label>
  </div>
        <div class="gf-form">
                <label class="gf-form-label query-keyword" ng-click="ctrl.showHelp = !ctrl.showHelp">
                Show Help
                <i class="fa fa-caret-down" ng-show="ctrl.showHelp"></i>
                <i class="fa fa-caret-right" ng-hide="ctrl.showHelp"></i>
              </label>
        </div>

        <div class="gf-form"  ng-show="ctrl.showHelp">
                <pre class="gf-form-pre alert alert-info">
                        Your tips to your users
                </pre>
        </div>

</query-editor-row>
